.title {
  color: #2c292b;
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
}

.form {
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}
.control label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.control input,
.control textarea {
  width: 100%;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font: inherit;
}

.actions {
  text-align: right;
}
.actions button {
  padding: 0.5rem 1.5rem;
  background-color: #77002e;
  color: #fff;
  border: 1px solid #77002e;
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
}
.actions button:hover,
.actions button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}
